*{
    box-sizing: border-box;
}
body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    overflow: hidden;
    background-color: aqua;
    padding:0px;
    margin:0px;
}
p{
    text-align: center;
    font-size: 30px;
    color:black;
    
}